  <%# <div class="landing-page-background-container">
    <h1 class="heading-primary-main">CosmosDaily</h1>
  </div> %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <h2 style="color: #fff !important;">CosmosDaily</h2>
      </li>
    </ul>
    <a id="sign-up-link" class="btn btn-dark btn-md" href="/users/sign_up" style="margin-right: 10px !important;">Signup</a>
    <a id="login-link" class="btn btn-dark btn-md" href="/users/sign_in">Login</a>
  </div>
</nav>
  
<section>
  <h1 class="section-header">View 9,000+ high resolution images from NASA’s Astronomy API</h1>
  <h2 class="section-header">Search by date and visit the edge of the known universe </h2>
</section>

<div class="login-sign-up-container">
  
</div>

<div class="carousel slide" id="carousel-container-landing-page" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("quivertrees_breuer_3000_cosmos_daily_picture_6.jpg", :class=> "d-block w-100", :alt=> "First slide")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("ArcticGeminid_Sutie_1080_dailycosmos_picture_1.jpg",:class=> "d-block w-100", :alt=> "Second slide")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("ZodiacalMw_Ponca_960_dailycosmos_picture_2.jpg",:class=> "d-block w-100", :alt=> "Third slide")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("MayanMilkyWay_Fernandez_1080_annotated_dailycosmos_picture_4.jpg",:class=> "d-block w-100", :alt=> "Fourth slide")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("CarEarth_SpaceX_1080_dailycosmos_picture_5.jpg",:class=> "d-block w-100", :alt=> "Fifth slide")%>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    